.button {
	&:visited,
	&:link {
		display: inline-block;
		background-color: $color-black;
		padding: 0.5rem 1.5rem;
		color: white;
		font-weight: 700;
		text-decoration: none;
		border-radius: 3px;
		transition: all 0.3s;
	}

	&:hover {
		transform: translateY(-0.3rem);
	}
}
