*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
}

body {
	box-sizing: border-box;
	padding: 0 12rem;

	@include screen(tab-land) {
		padding: 0;
	}
}
