.header {
	color: $color-white;

	&__container {
		background-image: linear-gradient(
			to right,
			$color-primary-dark,
			$color-primary-light
		);
		padding: 5rem;
		text-align: center;
		@include flexcenter;
		flex-direction: column;
	}

	&__logo {
		font-size: $defaultrem;
		display: inline-block;
		margin: 1rem 0 3.5rem;
	}

	&__cta {
		@include marginbottom;

		&--heading {
			margin-bottom: 0.5rem;
			font-size: $heading-size;

			@include screen(tab-land) {
				font-size: $subheading-size;
			}
		}

		&--text {
			margin: $defaultrem auto 4rem;
			font-size: $subheading-size;
			width: 50%;

			@include screen(tab-land) {
				font-size: $defaultrem;
				width: 80%;
			}
		}
	}

	&__content {
		margin-bottom: 1rem;
	}

	&__download {
		width: 50%;
		display: flex;
		justify-content: center;
		margin-bottom: 2rem;
		@include screen(phone) {
			flex-direction: column;
			margin-top: $defaultrem;
		}

		&-button {
			width: 20rem;

			&--apple,
			&--google {
				max-width: 100%;
				max-height: 100%;
				transition: all 0.3s;
				cursor: pointer;
				box-shadow: 0 1rem 2rem rgba($color-black, 0.4);

				&:hover {
					transform: translateY(-0.5rem);
					box-shadow: 0 2rem 2rem rgba($color-black, 0.4);
				}

				&:active {
					transform: translateY(0);
				}
			}

			&:not(:last-child) {
				margin-right: 2rem;
			}

			@include screen(phone) {
				margin-bottom: $defaultrem;
			}
		}
	}
}
