.header {
	background-image: linear-gradient(
		to right,
		$color-primary-dark,
		$color-primary-light
	);
	color: $color-white;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
	padding: $defaultrem;
	height: 60vh;

	&__logo {
		font-size: $defaultrem;
		display: inline-block;
		@include marginbottom;
	}

	&__cta {
		@include marginbottom;

		&--heading {
			margin-bottom: 0.5rem;
		}
	}

	&__content {
		margin-bottom: 1rem;
	}

	&__download {
		width: 50%;
		display: flex;
		justify-content: center;

		&-button {
			height: 10rem;
			width: 15rem;

			&--apple,
			&--google {
				max-width: 100%;
				max-height: 100%;
				transition: all 0.3s;
				cursor: pointer;
				box-shadow: 0 1rem 2rem rgba($color-black, 0.4);

				&:hover {
					transform: translateY(-0.5rem);
					box-shadow: 0 2rem 2rem rgba($color-black, 0.4);
				}

				&:active {
					transform: translateY(0);
				}
			}

			&:not(:last-child) {
				margin-right: 2rem;
			}
		}
	}
}
